$svg-ai-icon: 'data:image/svg+xml;utf8,<svg fill="currentColor" aria-hidden="true" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 2c.28 0 .5.22.5.5V3h.5a.5.5 0 0 1 0 1H17v.5a.5.5 0 0 1-1 0V4h-.5a.5.5 0 0 1 0-1h.5v-.5c0-.28.22-.5.5-.5Zm-13 13c.28 0 .5.22.5.5v.5h.5a.5.5 0 0 1 0 1H4v.5a.5.5 0 0 1-1 0V17h-.5a.5.5 0 0 1 0-1H3v-.5c0-.28.22-.5.5-.5Zm4-13c-.65 0-1.12.51-1.24 1.06-.11.55-.4 1.37-1.11 2.09-.72.71-1.54 1-2.09 1.11C2.51 6.37 2 6.86 2 7.5c0 .65.52 1.13 1.06 1.24.55.11 1.37.4 2.09 1.11.71.72 1 1.54 1.11 2.1.12.54.59 1.05 1.24 1.05s1.13-.51 1.24-1.06c.11-.55.4-1.37 1.11-2.09.72-.71 1.54-1 2.1-1.11.54-.11 1.05-.59 1.05-1.24s-.51-1.13-1.06-1.24a4.14 4.14 0 0 1-2.09-1.11c-.71-.72-1-1.54-1.11-2.1C8.63 2.52 8.15 2 7.5 2ZM7 15v-1.06a2.13 2.13 0 0 0 1 0V15c0 1.1.9 2 2 2h5a2 2 0 0 0 2-2v-5a2 2 0 0 0-2-2h-1.06a2.13 2.13 0 0 0 0-1H15a3 3 0 0 1 3 3v5a3 3 0 0 1-3 3h-5a3 3 0 0 1-3-3Zm3-1.5c0-.28.22-.5.5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm.5-2.5a.5.5 0 0 0 0 1H15a.5.5 0 0 0 0-1h-4.5Z" fill="currentColor"></path></svg>';

.annotation-view{
    // 100vh - topNavBarMoodle - topNavBarAnnotationText - footerMoodle
    height: calc(100vh - 85px - 45px - 60px); overflow-y: auto; scrollbar-width: thin;
    display: block;
    margin-left: -15px; margin-right: -15px;
     /* Floating button */
    .floating-menu{ 
        position: absolute;
        color: white;
        border: none;
        cursor: pointer;
        display: none;
        z-index: 1000;        /* Ensure it's on top */
        button{
            min-width: 140px;
        }
    }

    .floating-input{
        position: absolute; 
        z-index: 1050; 
        width: 300px;
    }

    .btn-color-picker{
        width: 3rem; height: 1.5rem; margin: .5rem;
        display: inline-flex; justify-content: center;    align-items: center;
    }

    span[data-criterion]{cursor: pointer;}
}

/**********************************************************
/ tablets layout
/*********************************************************/
@media screen and (min-width: 768px) and (max-width: 1023px){
    
}

/**********************************************************
/ Smartphone layout
/*********************************************************/
@media screen and (max-width: 767px){
   
}